*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(66, 16, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    border-radius: 1rem;
    background-color: rgb(109, 199, 255);
    max-height: 30vh;
    width: 30vh;
    padding: 2rem;
}
form{
    margin: 1rem 0 1rem 0;
}
form input{
    border-radius: 0.5rem;
    height: 2rem;
    width: 12rem;
}
form button{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 2rem;
    width: 10rem;
    background-color: rgb(114, 49, 233);
    color:black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
}